div {
	margin: o;
	padding: 0;
}

div div {
	background: #a4ca39;
	position: relative;
}

h1 {
	font: 2em bold sans-serif;
	font-family: Arial;
}

a {
	text-decoration: none;
	color: #49b;
	font-weight: bold;
}

a:visited {
	color: #49b;
	font-weight: bold;
}

p {
	text-align: justify;
	font: 1.2em Arial;
}

.intro {
	width: 75%;
	margin: auto;
}

.head {
	width: 220px;
	height: 100px;
	border-radius: 100px 100px 0 0;
	top: 32px;
	-webkit-transition: all 0.1s ease-in;
}

.android {
	height: 404px;
	width: 334px;
	margin: 100px auto;
}

.l_eye,
.r_eye {
	background: #fff;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	position: absolute;
	top: 42px;
}

.l_eye {
	left: 50px;
}

.r_eye {
	right: 50px;
}

.l_ant,
.r_ant {
	width: 6px;
	height: 50px;
	position: absolute;
	top: -34px;
	border-radius: 3px;
}

.l_ant {
	left: 50px;
	transform: rotate(-30deg);
}

.r_ant {
	right: 50px;
	transform: rotate(30deg);
}

.torso {
	width: 220px;
	height: 184px;
	top: 40px;
	border-radius: 0 0 25px 25px;
}

/* Limbs */

.l_arm,
.r_arm,
.l_leg,
.r_leg {
	width: 50px;
	position: absolute;
}

.l_arm,
.r_arm {
	height: 150px;
	border-radius: 25px;
	-webkit-transition: all 0.1s ease-in;
}

.l_leg,
.r_leg {
	height: 80px;
	top: 182px;
	border-radius: 0 0 25px 25px;
}

.l_arm {
	left: -58px;
}

.r_arm {
	right: -58px;
}

.l_leg {
	left: 45px;
}

.r_leg {
	right: 45px;
}

.head:hover {
	-transform: rotate(-5deg) translate(-4px, -8px);
	-webkit-transform: rotate(-5deg) translate(-4px, -8px);
	-moz-transform: rotate(-5deg) translate(-4px, -8px);
}

.l_arm:hover {
	-transform: rotate(15deg) translate(-14px, 0);
	-webkit-transform: rotate(15deg) translate(-14px, 0);
	-moz-transform: rotate(15deg) translate(-14px, 0);
}

.r_arm:hover {
	-transform: rotate(-30deg) translate(30px, 0);
	-webkit-transform: rotate(-30deg) translate(30px, 0);
	-moz-transform: rotate(-30deg) translate(30px, 0);
}